# Compiled class files
*.class

# Log files
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# Maven target folder
/target/

# Gradle build folder
/build/

# Eclipse files
.project
.classpath
.settings/

# IntelliJ IDEA files
.idea/
*.iml
*.iws
out/

# VS Code files
.vscode/

# Operating system files
.DS_Store
Thumbs.db

# Spring Boot specific
spring.log

# Others
*.swp
